<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/tabs/tab5']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Demande de paiement</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <h6 class='title'>Fiche de paiement</h6>
  <div class="ion-padding">
    <div class="input">
      <h6>Montant à verser</h6>
      <input type="number" name="">
    </div>

    <div class="input">
      <h6>Moyens de paiement</h6>
      <select>
        <option>Orange money</option>
        <option>Flooz</option>
        <option>Momo</option>
      </select>
    </div>

  </div>

  <div class="bottom-section">
    <h6><sup>*</sup>&nbsp;Paiement à partir de 10 000 fcfa</h6>
    <ion-button class="btn">VALIDER</ion-button>
  </div>
</ion-content>
