*{
  font-family: Montserrat, sans-serif;
}

ion-header{
  ion-toolbar{
    --background: #0394DD;
    height: 4.5em;
    h5{
      color: #FFFFFF;
    }

    .title-position{
      display:flex;
      justify-content:space-between;
    }

    ion-icon{
      color:white;
    }

    ion-icon.search{
      visibility: hidden;
    }

    ion-back-button{
      --color:white;
      --icon-font-size:21px;
    }
  }

}

ion-content{
  .title-position{
    display:flex;
    justify-content:space-between;

    ion-icon{
      font-size: 25px;
      margin-top: 0.6em;
    }
  }

  ion-card{
    margin:0;
    box-shadow: none;
    h6{
     color:black;
     font-size:12px;
     margin: 0.5em;
     font-weight: 600;
    }

    img{
      margin-top: 3em;
      display: block;
      margin-left: auto;
      margin-right: auto;

      margin-bottom: 3em;
      width:70%;
    }

    .sub_text{
      margin: 0.7em;
      font-size:10px;
      color:grey;
      margin-top:-0.2em;
      margin-top:0.2em;
    }
  }

  .card_color{
    border-radius: 8px;
    border: 2px #24e081 solid;
  }

  .special_color{
    border-radius: 12px;
    border: 2px #f8b150 solid;
  }

  .bottom_elt{
    background-color: #24e081;
    height:1.7em;
    border-radius: 0px 0px 0px 0px;
    display:flex;
    justify-content:space-between;

    h6{
      padding-top:0.5em;
      color:#fff;
      font-size:10px;
      margin-top:0.2em;
    }

    ion-icon{
      //margin-top:0.4em;
      margin-right:0.5em;
      font-size:22px;
    }
  }

  .bottom_special{
    background-color:#f8b150;
    height:1.7em;
    border-radius: 0px 0px 0px 0px;
    display:flex;
    justify-content:space-between;

    h6{
      padding-top:0.5em;
      color:#fff;
      font-size:10px;
      margin-top:0.2em;
    }

    ion-icon{
      margin-top:0.4em;
      margin-right:0.5em;
    }
  }

  .middle-button{
   display:flex;
   justify-content:center;
     ion-button{
      --border-radius:10px;
      --background: #0394DD;
    }
  }

  .seperator_first{
    hr {
      width: 100%;
      background: #e2e2e2;
      margin-top:0.5em;
    }
  }
}