<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/tabs/tab6']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Créer une activité</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item >
      <ion-label>
          <div class="position">
            <h6>Créer une mission sondage rénuméré</h6>
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </div>
      </ion-label>
    </ion-item>
    <ion-item routerLink="/creervme1">
      <ion-label>
          <div class="position">
            <h6>Créer une mission de visite mystère</h6>
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </div>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>
          <div class="position">
            <h6>Créer un rapport détaillé</h6>
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
