<ion-content>
  <div class="bg-img">
    <div class="ion-padding">
     <ion-button fill="clear" class="close_btn_position" (click)="closeModal()">
      <ion-icon color="light" name="close-outline">
      </ion-icon>
    </ion-button>
    <div class="img-header">
      <img src="../../assets/img/a9.jpg">
    </div>
    <div class="name">
      <p>Mamadou Koulibaly</p>
    </div>
    <p class="sub_element">Enseignant chercheur de Côte d'Ivoire</p>
    <h6 align="center">Position: 3ieme/100
      <ion-icon name="trending-up" color="success"></ion-icon>
    </h6>
    <h6 align="center">Total votes: 45097</h6>
  </div>
  <div class="middle-button">
    <ion-button class="btn_red" size="small" mode="ios">
      <img src="../../assets/img/dislike.png">
    </ion-button>
    <ion-button class="btn_success" size="small" mode="ios" (click)="question()">
      <img src="../../assets/img/like.png">
    </ion-button>
  </div>
</div>
</ion-content>
