*{
  font-family: Montserrat, sans-serif;
}

ion-content{
   background-color:rgba(78, 78, 78, 0.575) !important;
   --background: transparent !important;

   .bg-img {
    margin-top: 5em;
    }

    .close_btn_position{
        display:flex;
        justify-content:space-between;
        margin-right: -17em;
        margin-bottom: 2em;
    }

    .close_btn_position ion-icon{
       font-size: 30px;
   }

   .name p{
    text-align: center;
    color:white;
    font-weight: bold;
}

.img-header {
    display: flex;
    justify-content: center;
}
.img-header img{
    height: 200px;
    border-radius: 8px;
    border:1px solid #fff;
}

.sub_element {
    color: white;
    text-align: center;
}

h6{
    color:white;
    font-weight:420;
}

.middle-button{
    margin-top:1.5em;
    display:flex;
    justify-content:center;
    .btn_red{
        --border-radius:10px;
        --background: #dd0000;
        min-width: 110px;
        height: 35px;
    }

    .btn_success{
        --border-radius:10px;
        --background: #24e081;
        min-width: 110px;
        height: 35px;
    }

    img{
        width:30px;
    }
}

}