<ion-header>
  <ion-toolbar>
  <ion-button slot="start" fill="clear" [routerLink]="['/tabs/tab1']">
    <ion-icon name="arrow-back" color="light"></ion-icon>
  </ion-button>
  </ion-toolbar>
  <div class="position">
     <img src="../../assets/img/arafat.jpg">
  </div>
</ion-header>
<ion-content>
  <div class="position">
    <h6 align="center">Ange Didier Houon<br>
      <span>Artiste chanteur ivoirien</span><br>
      <span class="alert"><u>Revendiguer ce profil</u></span>
    </h6>
  </div>
  <div class="ion-padding">
    <div class="space-word">
      <ion-icon name="briefcase-outline"></ion-icon>&nbsp;Artiste chanteur, ivoirien<br>
      <ion-icon name="location-outline"></ion-icon>&nbsp;Côte d'Ivoire, Abidjan&nbsp;<img src="../../assets/img/drapeau.png" class="img"><br>
      <ion-icon name="flag-outline"></ion-icon>&nbsp;Personnalité mondaine<br>
      <ion-icon name="pricetag-outline"></ion-icon>&nbsp;Mondaine: (Artiste ivoirien)<br>
      <ion-icon name="trending-up" color="success" class="icon-tUp"></ion-icon>
      N°1 / 500 au classement général
    </div>
  </div>
</ion-content>
