<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/resume-creation-rapport']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Créer un rapport de notoriété</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/correction.png">
  <h6 align="center">Votre rapport <br>
    <b>Kritiqme/ 01/05/2021 / Rapport</b><br>
    a été crée avec succès
  </h6>
  <h6 align="center">Vous devriez vous acquitté de la somme de<br> <b>5000 fcfa</b> pour le téléchargement</h6>

  <div class="bottom-section ion-padding">
    <ion-button fill="clear" class="close" [routerLink]="['/creer-activite']">ANNULER</ion-button>
    <ion-button class="save" routerLink="/message-validation-rapport">PASSER AU PAIEMENT</ion-button>
  </div>

</ion-content>
