*{
  font-family: Montserrat, sans-serif;
}

ion-header{
  ion-toolbar{

      --background: #0394DD;
      height: 4.5em;
      h5{
        color: #FFFFFF;
      }

      .title-position{
        display:flex;
        justify-content:space-between;
      }

      ion-icon{
        color:white;
      }

      ion-icon.search{
        visibility: hidden;
      }

      ion-back-button{
        --color:white;
        --icon-font-size:21px;
      }
  }

}

ion-content{
  .position{
    display:flex;
    justify-content:space-between;
  }

  ion-list{
    margin-top:0.5em;

    .position{
      display:flex;
      justify-content:space-between;
      margin-bottom: 0.5em;
       margin-top: 0.5em;

      h6{
        font-size:18px;
        font-weight: 500;
      }

      ion-icon{
        font-size:22px;
        color:grey;
      }
    }
  }
}

@media screen and (max-width: 360px) {

  .position > ion-icon{
   margin-top:0.2em;
  }
}

@media screen and (max-width: 320px) {
  .title-position > h5 {
    margin-top:1.5em !important;
  }

  .title-position > .back-btn{
    margin-top:1.5em !important;
  }
}