<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-back-button icon="arrow-back" size="small"></ion-back-button>
      <h5>Sondage 1</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <img src="../../assets/img/cie.jpg">
    <div class="position_element">
      <ion-icon name="reader-outline"></ion-icon>&nbsp;&nbsp;
      <h5>Mission 1</h5>
    </div>
    <div class="last_position">
      <ion-icon name="reader-outline"></ion-icon>&nbsp;&nbsp;
      <h5>Type de misssion: Sondage</h5>
    </div>
    <div class="last_position">
      <ion-icon name="document-outline"></ion-icon>&nbsp;&nbsp;
      <h5>Description</h5>
    </div>
    <p class="ion-padding">
      Lorem ipsum occaecat reprehenderit deserunt ut in nisi amet deserunt deserunt esse velit nisi veniam irure non elit commodo aliqua esse dolore
    </p>
    <div class="down_position">
      <h5>
        <ion-icon name="calendar-clear-outline"></ion-icon>&nbsp;&nbsp;Debute le: 12/12/2020
      </h5>
      <h5 class="left">
        <ion-icon name="share-social-outline" style="visibility:hidden;"></ion-icon>Fini le : 12/12/2020
      </h5>
    </div>
    <div class="down_position">
      <h5>
        <ion-icon name="alarm-outline"></ion-icon>&nbsp;&nbsp;Heure début: 10h00
      </h5>
      <h5>
        <ion-icon name="share-social-outline" style="visibility:hidden;"></ion-icon>heure fin :15h00
      </h5>
    </div>
    <div class="down_position">
      <h5>
        <ion-icon name="location-outline"></ion-icon>&nbsp;&nbsp;Lieu: Abidjan, Marcory
      </h5>
    </div>
    <div class="down_position">
      <h5>
        <ion-icon name="card-outline"></ion-icon>&nbsp;&nbsp;Gains: 1 000 fcfa
      </h5>
    </div>
    <div class="bottom-section">
      <ion-button routerLink="/tache">ACCEPTER LA MISSION</ion-button>
    </div>
  </div>
</ion-content>
