<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/creervme1']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Créer une visite mystère</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding title">
    <h5>Tâches à effectuer</h5>

    <div class="input">
      <h6>Tâche 1</h6>
      <input type="text" name="">
    </div>

    <div class="input">
      <div class="position">
        <h6>Tâche 2</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="!toggled" (click)="toggle()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled">
      <div class="position_btn">
        <h6>Tâche 3</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="!toggled_task_3" 
          (click)="toggle_task_4()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" *ngIf="toggled" 
          (click)="toggle()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled_task_4">
      <div class="position_btn">
        <h6>Tâche 4</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_4" 
          (click)="toggle_task_5()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_4" 
          (click)="toggle_task_4()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled_task_5">
      <div class="position_btn">
        <h6>Tâche 5</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_5" 
          (click)="toggle_task_6()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_5" 
          (click)="toggle_task_5()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled_task_6">
      <div class="position_btn">
        <h6>Tâche 6</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_6" 
          (click)="toggle_task_7()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_6" 
          (click)="toggle_task_6()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled_task_7">
      <div class="position_btn">
        <h6>Tâche 7</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_7" 
          (click)="toggle_task_8()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_7" 
          (click)="toggle_task_7()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled_task_8">
      <div class="position_btn">
        <h6>Tâche 8</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_8" 
          (click)="toggle_task_9()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_8" 
          (click)="toggle_task_8()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>


    <div class="input bottom" *ngIf="toggled_task_9">
      <div class="position_btn">
        <h6>Tâche 9</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_9" 
          (click)="toggle_task_10()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_9" 
          (click)="toggle_task_9()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled_task_10">
      <div class="position_btn">
        <h6>Tâche 10</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_10" 
          (click)="toggle_task_11()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_10" 
          (click)="toggle_task_10()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled_task_11">
      <div class="position_btn">
        <h6>Tâche 11</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_11" 
          (click)="toggle_task_12()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_11" 
          (click)="toggle_task_11()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled_task_12">
      <div class="position_btn">
        <h6>Tâche 12</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_12" 
          (click)="toggle_task_13()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_12" 
          (click)="toggle_task_12()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled_task_13">
      <div class="position_btn">
        <h6>Tâche 13</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_13" 
          (click)="toggle_task_14()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_13" 
          (click)="toggle_task_13()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled_task_14">
      <div class="position_btn">
        <h6>Tâche 14</h6>
        <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_14" 
          (click)="toggle_task_15()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_14" 
          (click)="toggle_task_14()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="input bottom" *ngIf="toggled_task_15">
      <div class="position_btn">
        <h6>Tâche 15</h6>
        <ion-button class="btn_trash" slot="end" fill="clear" size="small" style="" *ngIf="toggled_task_15" 
          (click)="toggle_task_15()">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <input type="text" name="">
    </div>

    <div class="bottom-section ion-padding">
      <ion-button fill="clear" class="close" [routerLink]="['/creervme2']">PRECEDENT</ion-button>
      <ion-button class="save">ENREGISTRER</ion-button>
    </div>

  </div>
</ion-content>
