<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/creervme1']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Créer une visite mystère</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding title">
    <h5>Tâches à effectuer</h5>

    <div class="input">
      <h6>Tâche 1</h6>
      <input type="text" name="">
    </div>

    <div class="input">
      <h6>Types de réponse</h6>
      <select>
        <option>Photo</option>
        <option>Choix multiple</option>
        <option>Choix unique</option>
      </select>
    </div>

    <div class="bottom-section ion-padding">
      <ion-button fill="clear" class="close" [routerLink]="['/creervme2']">PRECEDENT</ion-button>
      <ion-button class="save">ENREGISTRER</ion-button>
    </div>

  </div>
</ion-content>
