*{
  font-family: Montserrat, sans-serif;
}

ion-content{
   background-color:rgba(0, 0, 0, 0.9) !important;
   --background: transparent !important;

   .bg-img{
    margin-top: 12em;
   }

   .header_element{
    display:flex;
    justify-content: center;
}

.close_btn_position{
    margin-right: -5em;
    margin-top:-2em;
}

.close_btn_position ion-icon{
   font-size: 30px;
}

.name p{
    text-align: center;
    color:white;
    font-weight: bold;
}

.img-header {
    display: flex;
    justify-content: center;
    
}
.img-header img{
    height: 200px;
    border-radius: 8px;
    border:1px solid #fff;
}

.sub_element {
    color: white;
    text-align: center;
}

h6{
    color:white;
    font-weight:420;
}

.middle-button{
    display:flex;
    justify-content:center;
    img{
        width:30px;
    }
}

}