<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/tabs/tab6']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Historique de paiement</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="position">
      <ion-icon name="arrow-up-circle" color="warning"></ion-icon> 
      <h6 class="title">Sondage sur la 4G</h6>
      <h6 class="price">10 000 fcfa</h6>
    </div>
    <div class="sub_position">
      <span>10 Sept</span>
      <ion-icon name="ellipsis-vertical" color="medium"></ion-icon>
    </div>
    <span>En attente</span>
  </div>
  <div class="seperator_first">
    <hr>
  </div>
  <div class="ion-padding" style="margin-top:-1.5em;">
    <div class="position">
      <ion-icon name="arrow-down-circle" color="primary"></ion-icon> 
      <h6 class="title">Visite mystère Orca</h6>
      <h6 class="price">10 000 fcfa</h6>
    </div>
    <div class="sub_position">
      <span>10 Sept</span>
      <ion-icon name="ellipsis-vertical" color="medium"></ion-icon>
    </div>
    <span class="color">Payé</span>
  </div>
  <div class="seperator_first">
    <hr>
  </div>
  <div class="ion-padding" style="margin-top:-1.5em;">
    <div class="position">
      <ion-icon name="arrow-down-circle" class="icon_color"></ion-icon> 
      <h6 class="title">Rapport détaillé 1...</h6>
      <h6 class="price">10 000 fcfa</h6>
    </div>
    <div class="sub_position">
      <span>18 Août</span>
      <ion-icon name="ellipsis-vertical" color="medium"></ion-icon>
    </div>
    <span class="color">Payé</span>
  </div>
  <div class="seperator_first">
    <hr>
  </div>
</ion-content>
