<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-back-button icon="arrow-back" size="small"></ion-back-button>
      <h5>Effectuer un paiement</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="space">
    <h6>Entrez le code de validation</h6>
    <ion-item><ion-input type="text"></ion-input></ion-item>
  </div>

  <div class="bottom-section ion-padding">
    <ion-button fill="clear" class="close" [routerLink]="['/tabs/tab6']">ANNULER</ion-button>
    <ion-button class="save">VALIDER</ion-button>
  </div>

</ion-content>
