*{
  font-family: Montserrat, sans-serif;
}

ion-header{
  ion-toolbar{
    --background: #0394DD;
    height: 4.5em;
    h5{
      color: #FFFFFF;
    }

    .title-position{
      display:flex;
      justify-content:space-between;
    }

    ion-icon{
      color:white;
    }

    ion-icon.search{
      visibility: hidden;
    }
  }

}

ion-content{
  .first-title-position{
    display:flex;
    justify-content:space-between;

    h6{
      color:#0394DD;
    }

    ion-icon{
      font-size: 20px;
      margin-top: 1em;
      color:grey;
    }
  }

  .sub-vm-position{
    display:flex;
    justify-content:flex-start;

    ion-icon{
      font-size: 22px;
      margin-top:0.6em;
    }

    h5{
      margin-left: 0.5em;
    }
  }

  p{
    color:grey;
    margin-top:-1em;
    margin-left: 1em;
    margin-bottom:-0.5em;
  }

  .down_position{
    display:flex;
    justify-content:space-between;

    h5 ion-icon{
      font-size:22px;
      margin-bottom: -0.1em;
    }

    h5{
      font-size:16px;
    }
  }

  hr {
    width: 100%;
    background: #e2e2e2;
    margin-top:0.5em;
  }

  .input{
    margin-top: 1.5em;

    h6{
      margin-bottom: 0.5em;
    }

    input{
      border-radius: 10px;
      height:50px;
      width: 372px;
      border: 1px solid gray;
      padding: 1em;
    }
  }

  .bottom-section {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top:2em;

    .save {
      height: 45px;
      width: 160px;
      font-size: 15px;
      font-weight: bold;
      text-transform: none;
      --background: #0062cc;
      --border-radius: 8px;
      color: #fff;
    }

    .close{
      font-size: 15px;
      font-weight: bold;
      text-transform: none;
      color: grey;
    }
  }

  .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:1.5em;
    margin-bottom:1em;
    ion-button {
      height: 48px;
      width: 375px;
      font-size: 15px;
      font-weight: bold;
      text-transform: none;
      --background: #0062cc;
      --border-radius: 8px;
      color: #fff;
    }
  }

}