<ion-header class="ion-no-border">
  <ion-toolbar>
    <h5 align="center">Classement général</h5>
    <div class="element-position">
      <ion-searchbar mode="ios" placeholder="Recherche"></ion-searchbar>
      <ion-button mode="ios">Trier par&nbsp; 
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card>
      <img src="../../assets/img/a9.jpg">
      <ion-card-content>
        <h6>Mamadou Koulibaly
          <span>Fonction:Enseignant-chercheur&nbsp;...</span><br>
          <span>Position:3 /10 <ion-icon name="trending-up" color="success"></ion-icon></span>
          <br>
          <span>Total votes:45097</span>
          <ion-button size="small" mode="ios">Votez</ion-button>
        </h6>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <img src="../../assets/img/a7.jpg">
      <ion-card-content>
        <h6>Kobenan Adjoumani<br>
          <span>Fonction:Ministre de l'Agriculture</span><br>
          <span>Position:8 /10 <ion-icon name="trending-down" color="danger"></ion-icon></span>
          <br>
          <span>Total votes:45097</span>
          <ion-button size="small" mode="ios">Votez</ion-button>
        </h6>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <img src="../../assets/img/a10.jpg">
      <ion-card-content>
        <h6>CIE<br>
          <span>Fonction:Compagnie Ivoirienne...</span><br>
          <span>Position:3 /10 <ion-icon name="trending-up" color="success"></ion-icon></span>
          <br>
          <span>Total votes:45097</span>
          <ion-button size="small" mode="ios">Votez</ion-button>
        </h6>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <img src="../../assets/img/a1.jpg">
      <ion-card-content>
        <h6>Ange Didier Houan<br>
          <span>Fonction:Artiste chanteur, danse..</span><br>
          <span>Position:3 /10 <ion-icon name="trending-up" color="success"></ion-icon></span>
          <br>
          <span>Total votes:10097</span>
          <ion-button size="small" mode="ios">Votez</ion-button>
        </h6>
      </ion-card-content>
    </ion-card>
  </div>
  <div> 
    <ion-card>
      <img src="../../assets/img/a3.jpg">
      <ion-card-content>
        <h6>N’guessan Amessan<br>
          <span>Fonction:Artiste auteur-composi...</span><br>
          <span>Position:3 /10 <ion-icon name="trending-up" color="success"></ion-icon></span>
          <br>
          <span>Total votes:10097</span>
          <ion-button size="small" mode="ios">Votez</ion-button>
        </h6>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <img src="../../assets/img/a4.jpg">
      <ion-card-content>
        <h6>YOBO Constant Joël<br>
          <span>Fonction:Artiste auteur-composi...</span><br>
          <span>Position:3 /10 <ion-icon name="trending-up" color="success"></ion-icon></span>
          <br>
          <span>Total votes:10097</span>
          <ion-button size="small" mode="ios">Votez</ion-button>
        </h6>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <img src="../../assets/img/a5.jpg">
      <ion-card-content>
        <h6>N.B.Yves-Aymard<br>
          <span>Fonction:Animateur radio -télé</span><br>
          <span>Position:3 /10 <ion-icon name="trending-up" color="success"></ion-icon></span>
          <br>
          <span>Total votes:10097</span>
          <ion-button size="small" mode="ios">Votez</ion-button>
        </h6>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
