<ion-header class="ion-no-border">
  <ion-toolbar>
    <h5 align="center">Classement général</h5>
    <div class="element-position">
      <ion-searchbar mode="ios" color="light" placeholder="Recherche"></ion-searchbar>
      <ion-button mode="ios">Trier par&nbsp; 
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <div class="ion-padding img-position">
      <img src="../../assets/img/a2.jpg">
      <h6>Didier Drogba<br>
        <span><b>Fonction</b>:Footaballeur&nbsp;international</span><br>
        <span><b>Position</b>:3ieme / 100  <ion-icon name="trending-up" color="success"></ion-icon></span><br>
        <span><b>Total votes</b>:45097</span>
      </h6>
      <ion-button size="small" mode="ios">Votez</ion-button>
    </div>
  </div>
  <div>
    <div class="ion-padding img-position">
      <img src="../../assets/img/a1.jpg">
      <h6>Ange Didier Houan<br>
        <span><b>Fonction</b>:Artiste chanteur, danseur</span><br>
        <span><b>Position</b>:3ieme / 100  <ion-icon name="trending-up" color="success"></ion-icon></span><br>
        <span><b>Total votes</b>:10097</span>
      </h6>
      <ion-button size="small" mode="ios">Votez</ion-button>
    </div>
  </div>
  <div>
    <div class="ion-padding img-position">
      <img src="../../assets/img/a3.jpg">
      <h6>N’guessan B.P Amessan<br>
        <span><b>Fonction</b>:Artiste auteur-composit...</span><br>
        <span><b>Position</b>:3ieme / 100  <ion-icon name="trending-up" color="success"></ion-icon></span><br>
        <span><b>Total votes</b>:10097</span>
      </h6>
      <ion-button size="small" mode="ios">Votez</ion-button>
    </div>
  </div>
  <div>
    <div class="ion-padding img-position">
      <img src="../../assets/img/a4.jpg">
      <h6>YOBO Constant Joël<br>
        <span><b>Fonction</b>:Artiste auteur-composit...</span><br>
        <span><b>Position</b>:3ieme / 100  <ion-icon name="trending-up" color="success"></ion-icon></span><br>
        <span><b>Total votes</b>:10097</span>
      </h6>
      <ion-button size="small" mode="ios">Votez</ion-button>
    </div>
  </div>
   <div>
    <div class="ion-padding img-position">
      <img src="../../assets/img/a5.jpg">
      <h6>N’Guessan B.Yves-Aymard<br>
        <span><b>Fonction</b>:Animateur radio -télé</span><br>
        <span><b>Position</b>:3ieme / 100  <ion-icon name="trending-up" color="success"></ion-icon></span><br>
        <span><b>Total votes</b>:10097</span>
      </h6>
      <ion-button size="small" mode="ios">Votez</ion-button>
    </div>
  </div>
</ion-content>
