*{
  font-family: Montserrat, sans-serif;
}

ion-toolbar{
	.header-position{
		display: flex;
		justify-content:space-between;
		margin-top:0.5em;
		.logo{
			width: 35%;
		}

		ion-icon{
			font-size:27px;
		}
	}

	.button-position{
		display:flex;
		justify-content:space-between;

		ion-button{
			--border-radius:10px;
			--background: #0394DD;
		}
	}
}

ion-content{
	.text-pp{
		margin: 0.5em;
	}

  .title_position{
    display:flex;
    justify-content:around;
  }

  .seperator_first{
    hr {
      width: 50%;
      height: 3px;
      background: #0394DD;
      margin-top:-1.1em;
      margin-right: -2em;
    }
  }

  ion-card{
    margin:0;
    box-shadow: none;
    h6{
     color:black;
     font-size:12px;
     margin: 0.5em;
   }
 }

 .red-card{
  border-radius: 8px;
  border: 2px red solid;
}

.success-card{
  border-radius: 8px;
  border: 2px #24E081 solid;
}

.red-icon{
  position:absolute;
  z-index:2;
  top: 0.0em;
  left: 10em;
  background-color: red;
  border-radius: 8px 100px / 120px;
  width:100%;

  ion-icon{
   width:20px;
   height:20px;
   font-weight: 800 !important;
 }
}

.success-icon{
  position:absolute;
  z-index:2;
  top: 0.0em;
  left: 10em;
  background-color: #24E081;
  border-radius: 8px 100px / 120px;
  width:100%;

  ion-icon{
   width:20px;
   height:20px;
   font-weight: 800 !important;
 }
}


  .middle-button{
   display:flex;
   justify-content:center;
   ion-button{
    --border-radius:10px;
    --background: #0394DD;
    }
  }
}
