<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/participe-vote']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Donner un avis</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h6 align="center"><u>Afficher les avis les plus récents</u></h6>
  <ion-item>
    <ion-textarea rows="6" cols="20" inputmode="text"></ion-textarea>
  </ion-item>
  <div class="button ion-padding">
    <ion-button size="small" mode="ios">Envoyer</ion-button>
  </div>
</ion-content>
