<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/tabs/tab5']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Missions acceptées</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-segment (ionChange)="segmentChanged($event)" scrollable="true" class="segment" value="tous">
      <ion-segment-button value="tous">Tous</ion-segment-button>
      <ion-segment-button value="vm">Visites mystères</ion-segment-button>
      <ion-segment-button value="sr">Sondages rénumérés</ion-segment-button>
    </ion-segment>
    <div *ngIf="selectedSegmentTous=='tous'">
      <ion-grid>
        <ion-row>
          <ion-col routerLink="/detail-mission">
            <ion-card class="card_color">
              <img src="../../assets/img/pro.jpg">
              <div class="seperator_first">
                <hr>
              </div>
              <h6>Visite mystère 1</h6>
              <h5 class="sub_text">11/09/2021 - 09h00</h5>
              <div class="bottom_elt">
                <h6>Mission en cours</h6>
                <ion-icon name="ellipse" color="success"></ion-icon>
              </div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="card_color">
              <img src="../../assets/img/sgbci.jpg">
              <div class="seperator_first">
                <hr>
              </div>
              <h6>Visite mystère 2</h6>
              <h5 class="sub_text">11/09/2021 - 09h00</h5>
              <div class="bottom_elt">
                <h6>Mission en cours</h6>
                <ion-icon name="ellipse" color="success"></ion-icon>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="special_color">
              <img src="../../assets/img/orange_ci.jpg">
              <div class="seperator_first">
                <hr>
              </div>
              <h6>Sondage text 3</h6>
              <h5 class="sub_text">11/09/2021 - 09h00</h5>
              <div class="bottom_special">
                <h6>Mission non débutée</h6>
                <ion-icon name="ellipse" color="light"></ion-icon>
              </div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="card_color">
              <img src="../../assets/img/cie.jpg">
              <div class="seperator_first">
                <hr>
              </div>
              <h6>Visite mystère 4</h6>
              <h5 class="sub_text">11/09/2021 - 09h00</h5>
              <div class="bottom_elt">
                <h6>Mission en cours</h6>
                <ion-icon name="ellipse" color="success"></ion-icon>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="selectedSegmentTous !='tous'">  
      <div *ngIf="selectedSegmentVisite=='vm'">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="card_color">
                <img src="../../assets/img/pro.jpg">
                <div class="seperator_first">
                  <hr>
                </div>
                <h6>Visite mystère 1</h6>
                <h5 class="sub_text">11/09/2021 - 09h00</h5>
                <div class="bottom_elt">
                  <h6>Mission en cours</h6>
                  <ion-icon name="ellipse" color="success"></ion-icon>
                </div>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="card_color">
                <img src="../../assets/img/sgbci.jpg">
                <div class="seperator_first">
                  <hr>
                </div>
                <h6>Visite mystère 2</h6>
                <h5 class="sub_text">11/09/2021 - 09h00</h5>
                <div class="bottom_elt">
                  <h6>Mission en cours</h6>
                  <ion-icon name="ellipse" color="success"></ion-icon>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="card_color">
                <img src="../../assets/img/cap_nord.jpg">
                <div class="seperator_first">
                  <hr>
                </div>
                <h6>Visite mystère 3</h6>
                <h5 class="sub_text">11/09/2021 - 09h00</h5>
                <div class="bottom_elt">
                  <h6>Mission en cours</h6>
                  <ion-icon name="ellipse" color="success"></ion-icon>
                </div>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="card_color">
                <img src="../../assets/img/jum.jpg">
                <div class="seperator_first">
                  <hr>
                </div>
                <h6>Visite mystère 2</h6>
                <h5 class="sub_text">11/09/2021 - 09h00</h5>
                <div class="bottom_elt">
                  <h6>Mission en cours</h6>
                  <ion-icon name="ellipse" color="success"></ion-icon>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="card_color">
                <img src="../../assets/img/bus.jpg">
                <div class="seperator_first">
                  <hr>
                </div>
                <h6>Visite mystère 3</h6>
                <h5 class="sub_text">11/09/2021 - 09h00</h5>
                <div class="bottom_elt">
                  <h6>Mission en cours</h6>
                  <ion-icon name="ellipse" color="success"></ion-icon>
                </div>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="card_color">
                <img src="../../assets/img/air_ci.jpg">
                <div class="seperator_first">
                  <hr>
                </div>
                <h6>Visite mystère 4</h6>
                <h5 class="sub_text">11/09/2021 - 09h00</h5>
                <div class="bottom_elt">
                  <h6>Mission en cours</h6>
                  <ion-icon name="ellipse" color="success"></ion-icon>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="selectedSegmentSondage=='sr'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="special_color">
              <img src="../../assets/img/orange_ci.jpg">
              <div class="seperator_first">
                <hr>
              </div>
              <h6>Sondage 1</h6>
              <h5 class="sub_text">11/09/2021 - 09h00</h5>
              <div class="bottom_special">
                <h6>Mission non debutée</h6>
                <ion-icon name="ellipse" color="light"></ion-icon>
              </div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="special_color">
              <img src="../../assets/img/jum.jpg">
              <div class="seperator_first">
                <hr>
              </div>
              <h6>Sondage 2</h6>
              <h5 class="sub_text">11/09/2021 - 09h00</h5>
              <div class="bottom_special">
                <h6>Mission non debutée</h6>
                <ion-icon name="ellipse" color="light"></ion-icon>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
