<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/tabs/tab4']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Mes tâches</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">

    <div *ngIf="!toggled">
      <div class="position">
        <h6>Tâches</h6>
        <h6>01/02</h6>
      </div>

      <h6>Que pensez-vous de la CIE en terme de relation clientèle?</h6>
      <div class="sub_position">
        <ion-checkbox [(ngModel)]="checked"></ion-checkbox>
        <h6>Très bien</h6>
      </div>

      <div class="sub_position">
        <ion-checkbox></ion-checkbox>
        <h6>Bien</h6>
      </div>

      <div class="sub_position">
        <ion-checkbox></ion-checkbox>
        <h6>Pas mal</h6>
      </div>

      <div class="sub_position">
        <ion-checkbox></ion-checkbox>
        <h6>Mal</h6>
      </div>

      <div class="sub_position">
        <ion-checkbox></ion-checkbox>
        <h6>Très mal</h6>
      </div>

      <div class="bottom-section">
        <ion-button fill="clear" class="close" routerLink="/tabs/tab4">ANNULER</ion-button>
        <ion-button [disabled]="!checked" class="save" (click)="toggle()">VALIDER</ion-button>
      </div>
    </div>

    <div *ngIf="toggled">
      <div class="position">
        <h6>Tâches</h6>
        <h6>02/02</h6>
      </div>

      <h6>Quels moyens utilisez vous pour payer vos Factures CIE?</h6>
      <div class="sub_position">
        <ion-checkbox [(ngModel)]="changeChecked"></ion-checkbox>
        <h6>A l'agence</h6>
      </div>

      <div class="sub_position">
        <ion-checkbox></ion-checkbox>
        <h6>Depuis mobile money</h6>
      </div>

      <div class="sub_position">
        <ion-checkbox></ion-checkbox>
        <h6>Virement bancaire ou chèque</h6>
      </div>

      <div class="bottom-section">
        <ion-button fill="clear" class="close" routerLink="/tabs/tab4">ANNULER</ion-button>
        <ion-button [disabled]="!changeChecked" class="save" routerLink="/msg-validation">
          VALIDER
        </ion-button>
      </div>
    </div>

  </div>
</ion-content>
