<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/creervme1']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Créer une visite mystère</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="ion-padding title">
    <h5>Fiche de mission</h5>
    <span>02 infos participants</span>

    <div class="input">
      <h6>Nombre de participants</h6>
      <input type="number" name="">
    </div>

    <div class="input">
      <h6>Sexe</h6>
      <select>
        <option>M</option>
        <option>F</option>
        <option>Autre</option>
      </select>
    </div>

    <div class="input">
      <h6>Statut matrimonial</h6>
      <select>
        <option>Marié(e)</option>
        <option>Celibataire</option>
        <option>Divorcé(e)</option>
         <option>veuf(e)</option>
      </select>
    </div>

    <div class="input">
      <h6>Tranche d'âge</h6>
      <select>
        <option>18-25</option>
        <option>25-35</option>
        <option>35-45</option>
        <option>35-45</option>
        <option>45-55</option>
        <option>55-65</option>
      </select>
    </div>

    <div class="input">
      <h6>Pays</h6>
      <select>
        <option>Côte d'Ivoire</option>
        <option>Gabon</option>
        <option>Mali</option>
        <option>Benin</option>
      </select>
    </div>

    <div class="input">
      <h6>Ville/commune</h6>
      <select>
        <option>Abidjan</option>
        <option>Bouaké</option>
        <option>Katiola</option>
        <option>Cocody</option>
      </select>
    </div>

    <div class="input">
      <h6>Metier</h6>
      <select>
        <option>Designer</option>
        <option>Maçon</option>
        <option>Electricien</option>
        <option>Commercial</option>
      </select>
    </div>

    <div class="bottom-section">
      <ion-button class="btn" routerLink="/creervme3">VALIDER</ion-button>
    </div>

  </div>

</ion-content>
