<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/tabs/tab4']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Sondage 1</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/correction.png">
  <h6 align="center">Votre mission <br>
    <b>"Sondage 1"</b><br>
    a été accomplie avec succès
  </h6>
</ion-content>
