<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/creersondage2']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h5>Configuration du sondage</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="ion-padding title">
    <h5>Information sur le sondage</h5>

    <div class="input">
      <h6>Question 1</h6>
      <input type="text" name="">
    </div>

    <div class="input">
      <h6>Types de reponses</h6>
      <select>
        <option></option>
        <option>Photo</option>
        <option>Choix multiples</option>
        <option>Choix unique</option>
      </select>
    </div>

  </div>

</ion-content>
