<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-back-button icon="arrow-back" size="small"></ion-back-button>
      <h5>Configuration du sondage</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="ion-padding title">
    <h5>Qustionnaires</h5>

    <div class="input">
      <h6>Question 1</h6>
      <input type="text" name="">
    </div>

    <div class="input">
      <h6>Types de reponses</h6>
      <ion-select value="Photo" mode="ios" okText="Choisir" cancelText="Fermer" mode="ios" (ionChange)="choix_multiple($event)">
        <ion-select-option value="Photo">Photo</ion-select-option>
        <ion-select-option value="Choix_mutilple">
          Choix multiples
        </ion-select-option>
        <ion-select-option value="Choix_unique">Choix unique</ion-select-option>
      </ion-select>
    </div>
      <div class="position_btn">
        <ion-button class="btn_add" slot="end" fill="clear" size="small" 
          *ngIf="!toggled" (click)="toggle()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
      </div>
      <div class="input space" *ngIf="toggled">
        <div class="input-title">
          <h6>Question 2</h6>
            <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="!toggled_task_3" 
          (click)="toggle_task_4()">
            <ion-icon name="add-circle-outline" color="success"></ion-icon>
            </ion-button>
            <ion-button class="btn_trash" slot="end" fill="clear" size="small" *ngIf="toggled" 
              (click)="toggle()">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
        </div>
        <input type="text" name="">
        <h6>Types de reponses</h6>
        <ion-select>
          <ion-select-option></ion-select-option>
          <ion-select-option>Photo</ion-select-option>
          <ion-select-option>Choix multiples</ion-select-option>
          <ion-select-option>Choix unique</ion-select-option>
        </ion-select>
      </div>
      <div class="input space" *ngIf="toggled_task_4">
        <div class="input-title">
          <h6>Question 3</h6>
            <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_4" 
              (click)="toggle_task_5()">
            <ion-icon name="add-circle-outline" color="success"></ion-icon>
            </ion-button>
            <ion-button class="btn_trash" slot="end" fill="clear" size="small" *ngIf="toggled_task_4" 
              (click)="toggle_task_4()">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
        </div>
        <input type="text" name="">
        <h6>Types de reponses</h6>
        <ion-select>
          <ion-select-option></ion-select-option>
          <ion-select-option>Photo</ion-select-option>
          <ion-select-option>Choix multiples</ion-select-option>
          <ion-select-option>Choix unique</ion-select-option>
        </ion-select>
      </div>
      <div class="input space" *ngIf="toggled_task_5">
        <div class="input-title">
          <h6>Question 4</h6>
            <ion-button class="btn_add" slot="end" fill="clear" size="small" *ngIf="toggled_task_5" 
              (click)="toggle_task_6()">
            <ion-icon name="add-circle-outline" color="success"></ion-icon>
            </ion-button>
            <ion-button class="btn_trash" slot="end" fill="clear" size="small" *ngIf="toggled_task_5" 
              (click)="toggle_task_5()">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
        </div>
        <input type="text" name="">
        <h6>Types de reponses</h6>
        <ion-select>
          <ion-select-option></ion-select-option>
          <ion-select-option>Photo</ion-select-option>
          <ion-select-option>Choix multiples</ion-select-option>
          <ion-select-option>Choix unique</ion-select-option>
        </ion-select>
      </div>
      <div class="input space" *ngIf="toggled_task_6">
        <div class="input-title">
          <h6>Question 5</h6>
            <ion-button class="btn_add" slot="end" fill="clear" size="small">
            <ion-icon name="add-circle-outline" color="success"></ion-icon>
            </ion-button>
            <ion-button class="btn_trash" slot="end" fill="clear" size="small" *ngIf="toggled_task_6" 
              (click)="toggle_task_6()">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
        </div>
        <input type="text" name="">
        <h6>Types de reponses</h6>
        <ion-select>
          <ion-select-option></ion-select-option>
          <ion-select-option>Photo</ion-select-option>
          <ion-select-option>Choix multiples</ion-select-option>
          <ion-select-option>Choix unique</ion-select-option>
        </ion-select>
      </div>
    <div class="bottom-section">
      <ion-button fill="clear" class="close" [routerLink]="['/creersondage2']">PRECEDENT</ion-button>
      <ion-button class="save" [routerLink]="['/message-validation-sondage']">SUIVANT</ion-button>
    </div>
  </div>

</ion-content>
